$varela: 'Varela Round', sans-serif;
$pacifico: 'Pacifico', cursive;

$blue:    #9575CD;
$red:     #E57373;
$orange:  #FF8A65;
$green:   #81C784;

$cyan:    #4FC3F7;

$warning:  $orange;

$lightblue: #4FC3F7;

