<section class="login d-flex flex-column">
  <div class="logo w-50 mt-2">
    <img src="assets/images/logo-todoApp.png" alt="">
    <h3 class="welcome mt-4">Welcome to TodoApp</h3>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <div class="login-form"[ngClass]="{'mt-3': !errorMessage, 'mt-2': errorMessage}">
    <form role="form" [formGroup]="loginForm" autocomplete="off" novalidate>
      <div class="form-group" ngCLass="{'is-invalid': loginForm.get('username').invalid}">
        <label for="email">Email:</label>
        <input type="text" id="email" class="form-control" formControlName="username">
        <div class="invalid-feedback py-1 px-2 rounded" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
          <i class="fas fa-times"></i>
          Required
        </div>
        <div class="has-error invalid-feedback py-1 px-2 rounded" *ngIf="loginForm.get('username').hasError('email') && loginForm.get('username').touched">
          <i class="fas fa-times"></i>
          Email is not valid.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div class="invalid-feedback py-1 px-2 rounded" *ngIf="loginForm.get('password').hasError('required')">Required</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid" type="submit" (click)="submitForm()">Login</button>
        <button class="btn btn-info btn-block">Login with Facebook</button>
        <span class="d-block my-3 not-registered">Not registered?</span>
        <button class="btn btn-success btn-block">Sign up</button>
      </div>
    </form>
  </div>



</section>