@import '../../../core/scss/variables';

section.login {
  width: 100%;
  height: 100vh;
  background-color: #0984e3;
  padding: 2.5rem;
  .invalid-feedback {
    display: inline-block !important;
    background-color: #F03;
    color: #FFF;
    font-weight: 600;
  }
  .logo {
    width: 240px;
    height: auto;
    margin: 0 auto;
    h3.welcome {
      font-family: $pacifico;
      color: #FFF;
      text-align: center;
    }
    img {
      width: 100%
    }
  }
  .login-form {
    background-color: rgba(255, 255, 255, 0.65);
  }
  .form-group {
    label {
      font-family: $varela;
      font-size: 16px;
      color: $dark-blue;
    }
    input.form-control {
      padding: 18px;
    }
    .not-registered {
      display: inline-block;
      padding: 9px 0;
      font-family: $varela;
      text-align: center;
      color: $dark-blue;
    }
  }
}
