@import './../../../core/scss/variables';
@import '../../../../assets/scss/variables';

.todo-list {
  padding: 0;
  margin: 0;
  li {
    position: relative;
    background-color: $main-background;
    border-radius: 4px;
  }
}

.create-new-todo {
  background-color: $cyan;
}
