<div class="create-new-todo p-2 shadow-sm rounded" *ngIf="showCreateTodo">
  <form role="form" [formGroup]="todoForm">
    <div class="form-group">
      <label for="">Create a new todo</label>
      <div class="input-group">
        <input type="text" class="form-control p-2" formControlName="todo" required>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="addNewTodo()"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>

<ul class="todo-list mt-4">
  <li class="py-3 px-3 mb-1 shadow-sm" *ngFor="let todo of (todoList | async); let index = index">
    <div class="d-flex flex-row pt-2">
      <i [ngClass]="{'far text-primary': !todo.completed, 'fas text-success': todo.completed}" class="fa-2x fa-check-circle" (click)="completeTodo(todo)"></i>
      <span class="flex-grow-1 pl-2">{{todo.description}}</span>

      <button class="btn btn-custom-circle btn-danger align-self-end" (click)="removeTodo(todo)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </li>
</ul>
<button class="btn btn-primary btn-block p-3 mt-3 shadow-sm" (click)="showCreateTodoForm()">
  <i class="fas fa-plus"></i> Create a new todo
</button>
