/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  background-color: #0984e3;
  margin: 0;
  padding: 0;
}