@import '../../../core/scss/variables';

.navbar {
  border-radius: 5px;
  background-color: $main-background;
  .navbar-brand {
    font-family: $varela;
    font-size: 24px;
    color: #FFF;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.75)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}