<section class="login d-flex">


  <div class="logo w-50">
    <img src="assets/images/logo-todoApp.png" alt="">
    <h3 class="welcome">Welcome to TodoApp</h3>
    <span>
      Please, fill the form bellow to proceed.
    </span>
  </div>
  <div class="login-form w-50">
    <form role="form" [formGroup]="registerForm">
      <div class="form-group">
        <label for="">Email:</label>
        <input type="text" class="form-control" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="">Password:</label>
        <input type="password" class="form-control" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="">Confirm Password:</label>
        <input type="password" class="form-control" formControlName="confirmPassword">
      </div>
      <div class="invalid-feedback" *ngIf="validatePasswordError()">
        Passwords must match.
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid" type="submit" (click)="createAccount()">Create account</button>
      </div>
    </form>
  </div>



</section>